In [507]:
file = open('Watches.txt','r+')
id = list()
title = list()
price = list()
userId = list()
profileName = list()
helpfulness = list()
score = list()
time = list()
summary = list()
text = list()
for line in file:
    if line.startswith('product/productId:'):
        id.append(line[19:])
    elif line.startswith('product/title:'):
        title.append(line[15:])
    elif line.startswith('product/price:'):
        price.append(line[15:])
    elif line.startswith('review/userId:'):
        userId.append(line[15:])
    elif line.startswith('review/profileName:'):
        profileName.append(line[20:])
    elif line.startswith('review/helpfulness:'):
        helpfulness.append(line[20:])
    elif line.startswith('review/score:'):
        score.append(line[14:])
    elif line.startswith('review/time:'):
        time.append(line[13:])
    elif line.startswith('review/summary:'):
        summary.append(line[16:])
    elif line.startswith('review/text:'):
        text.append(line[13:])
final_list = list()
final_list.append(id)
final_list.append(title)
final_list.append(price)
final_list.append(userId)
final_list.append(profileName)
final_list.append(helpfulness)
final_list.append(score)
final_list.append(time)
final_list.append(summary)
final_list.append(text)

In [508]:
pip install pandas

Requirement already satisfied: pandas in c:\users\devme\anaconda3\envs\carprediction\lib\site-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in c:\users\devme\anaconda3\envs\carprediction\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\devme\anaconda3\envs\carprediction\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\devme\anaconda3\envs\carprediction\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\devme\anaconda3\envs\carprediction\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [509]:
import pandas as pd

In [510]:
score1 = list()
for i in score:
    i = float(i)
    if i>3:
        score1.append(int(1) )
    elif i ==3:
        score1.append(int(0))
    else:
        score1.append(int(-1))

In [511]:
df = pd.DataFrame(list(zip(id, title, price, userId, profileName, helpfulness, score, time, summary, text, score1)),columns=['id', 'title', 'price', 'userId', 'profileName', 'helpfulness', 'score', 'time', 'summary', 'text', 'score1'])

In [512]:
df1 = df[['helpfulness', 'score', 'summary', 'text', 'score1']]

In [513]:
df1.score1.value_counts()

 1    53932
-1     9026
 0     5398
Name: score1, dtype: int64

In [514]:
df1.head()

,helpfulness,score,summary,text,score1
0,0/0\n,4.0\n,"Unique G-Shock Design, same G-Shock Quality\n",Having owned two previous G-Shocks in my life ...,1
1,0/0\n,4.0\n,Nice Watch\n,"Thats a good watch, light, comfortable, accura...",1
2,1/2\n,5.0\n,Is it battery powered or Solar/\n,I am ready to purchase this beautiful watch bu...,1
3,3/3\n,5.0\n,2005 Latest Seiko Diver Models\n,2005 Latest model from Seiko Model SKXA53K2. P...,1
4,0/0\n,4.0\n,Great watch with a few drawbacks\n,Here are a few observations on one of my favor...,1

In [515]:
df1.shape

(68356, 5)

In [516]:
df1.isnull().sum()

helpfulness    0
score          0
summary        0
text           0
score1         0
dtype: int64

In [517]:
df1.score.value_counts()

5.0\n    39206
4.0\n    14726
3.0\n     5398
1.0\n     5376
2.0\n     3650
Name: score, dtype: int64

In [518]:
#df1.apply(lambda x:x.replace('\n', " "))

In [519]:
#df1['summary'].apply(lambda x:x.replace('x[-2]', " "))

In [520]:
#df1['summary'][0][-2]

In [521]:
#df1['summary'].apply(lambda x:x.replace(x[-3:-1], ""))

In [522]:
X = df1.iloc[:,:4] 
y = df1.iloc[:,4]

In [523]:
X.head()

,helpfulness,score,summary,text
0,0/0\n,4.0\n,"Unique G-Shock Design, same G-Shock Quality\n",Having owned two previous G-Shocks in my life ...
1,0/0\n,4.0\n,Nice Watch\n,"Thats a good watch, light, comfortable, accura..."
2,1/2\n,5.0\n,Is it battery powered or Solar/\n,I am ready to purchase this beautiful watch bu...
3,3/3\n,5.0\n,2005 Latest Seiko Diver Models\n,2005 Latest model from Seiko Model SKXA53K2. P...
4,0/0\n,4.0\n,Great watch with a few drawbacks\n,Here are a few observations on one of my favor...

In [524]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: score1, dtype: int64

In [525]:
data_X = X.iloc[: , 2:4]

In [526]:
data_X.head()

,summary,text
0,"Unique G-Shock Design, same G-Shock Quality\n",Having owned two previous G-Shocks in my life ...
1,Nice Watch\n,"Thats a good watch, light, comfortable, accura..."
2,Is it battery powered or Solar/\n,I am ready to purchase this beautiful watch bu...
3,2005 Latest Seiko Diver Models\n,2005 Latest model from Seiko Model SKXA53K2. P...
4,Great watch with a few drawbacks\n,Here are a few observations on one of my favor...

In [527]:
data_X.replace('[^a-zA-Z]',' ',regex = True, inplace=True)

C:\Users\devme\anaconda3\envs\carprediction\lib\site-packages\pandas\core\frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [528]:
X.head()

,helpfulness,score,summary,text
0,0/0\n,4.0\n,Unique G Shock Design same G Shock Quality,Having owned two previous G Shocks in my life ...
1,0/0\n,4.0\n,Nice Watch,Thats a good watch light comfortable accura...
2,1/2\n,5.0\n,Is it battery powered or Solar,I am ready to purchase this beautiful watch bu...
3,3/3\n,5.0\n,Latest Seiko Diver Models,Latest model from Seiko Model SKXA K P...
4,0/0\n,4.0\n,Great watch with a few drawbacks,Here are a few observations on one of my favor...

In [529]:
X.columns

Index(['helpfulness', 'score', 'summary', 'text'], dtype='object')

In [530]:
for index in ['helpfulness', 'score', 'summary', 'text']:
    X[index] = X[index].str.lower()

In [531]:
X.head()

,helpfulness,score,summary,text
0,0/0\n,4.0\n,unique g shock design same g shock quality,having owned two previous g shocks in my life ...
1,0/0\n,4.0\n,nice watch,thats a good watch light comfortable accura...
2,1/2\n,5.0\n,is it battery powered or solar,i am ready to purchase this beautiful watch bu...
3,3/3\n,5.0\n,latest seiko diver models,latest model from seiko model skxa k p...
4,0/0\n,4.0\n,great watch with a few drawbacks,here are a few observations on one of my favor...

In [532]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2)

In [533]:
review_text = []
for i in range(0, len(X_train.index)):
    review_text.append(''.join(str(x) for x in X_train.iloc[i, 2:4]))

In [534]:
X_train.shape

(54684, 4)

In [535]:
X_test.shape

(13672, 4)

In [536]:
X_test.head()

,helpfulness,score,summary,text
34336,0/0\n,5.0\n,great watch,i have had this watch for a few months now and...
20401,0/0\n,5.0\n,great value,this is the third non swiss automatic pro dive...
5065,0/0\n,5.0\n,excelente,el paquete llego en el tiempo indicado y en p...
39856,0/0\n,1.0\n,timex watches are cheap pieces of junk custom...,timex watches are not what they used to be th...
28601,0/4\n,2.0\n,bi lingual day reading,just sent the watch back the day reading is...

In [537]:
X.head()

,helpfulness,score,summary,text
0,0/0\n,4.0\n,unique g shock design same g shock quality,having owned two previous g shocks in my life ...
1,0/0\n,4.0\n,nice watch,thats a good watch light comfortable accura...
2,1/2\n,5.0\n,is it battery powered or solar,i am ready to purchase this beautiful watch bu...
3,3/3\n,5.0\n,latest seiko diver models,latest model from seiko model skxa k p...
4,0/0\n,4.0\n,great watch with a few drawbacks,here are a few observations on one of my favor...

In [538]:
review_text[1]

'nice watch nice watch  made by bulova  a little on the high side price wise but expected with the hd face  '

In [539]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier

In [540]:
cv = CountVectorizer(ngram_range = (2,2))

In [541]:
X_train = cv.fit_transform(review_text)

In [542]:
rf = RandomForestClassifier(n_estimators = 2, criterion = 'gini')

In [543]:
rf.fit(X_train,y_train)

RandomForestClassifier(n_estimators=2)

In [544]:
X_test.describe()

,helpfulness,score,summary,text
count,13672,13672,13672,13672
unique,365,5,9994,13645
top,0/0\n,5.0\n,great watch,i am rather opinionated when it comes to luxur...
freq,6547,7739,445,3

In [545]:
review_text_test = []

In [546]:
for i in range(0, len(X_test.index)):
    review_text_test.append(''.join(str(x) for x in X_test.iloc[i, 2:4]))

In [547]:
X_test = cv.transform(review_text_test)

In [548]:
predictions = rf.predict(X_test)

In [549]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [550]:
matrix= confusion_matrix(y_test, predictions)
print(matrix)
score= accuracy_score(y_test, predictions)
print(score)
report = classification_report(y_test, predictions)
print(report)

[[1028  203  570]
 [ 369  176  535]
 [1163  729 8899]]
0.7389555295494441
              precision    recall  f1-score   support

          -1       0.40      0.57      0.47      1801
           0       0.16      0.16      0.16      1080
           1       0.89      0.82      0.86     10791

    accuracy                           0.74     13672
   macro avg       0.48      0.52      0.50     13672
weighted avg       0.77      0.74      0.75     13672